<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password recuperation</title>
</head>
<body>
    <p>a new password was sent to your mail</p>
     <br>
     <a href="{{ path('login')}}"> retour </a>

</body>
</html>