{% extends '::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="row ">
            <div class="col-sm-12 alert {% if errors == 1 %} alert-success {% else %} alert-danger {%endif%} "
                {% if errors == 2 %} hidden {%endif%} id="user_added">
                {% if errors == 1 %} user added successfully {% else %} user already exists {% endif %}
                <button type="button" class=" float-right close" onclick="closeParent(this)" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <script>
                    window.onload = function () {
                        closeParent = function (item) {
                            item.parentElement.hidden = true;
                        }
                    }
                </script>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 content-panel"
        style="padding-top: 2.5rem; padding-bottom: 2.5rem; padding-left: 5rem; padding-right: 5rem; min-height: 40em;">
        <h2><i class="fa fa-user-circle"></i> ajouter un utilisateur :</h2>
        <hr>
        <form method="post">

            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" class="form-control" placeholder="username" value="" required>
                <small class="text-truncate"> enter your username</small>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" placeholder="email" class="form-control" value="" required>
                <small class="text-truncate"> enter your email</small>
            </div>
            <div class="form-group">
                <label>Mot de passe</label>
                <input type="password" name="password" id="pass" placeholder="password" class="form-control" required>
                <small class="text-truncate"> enter your password </small>
            </div>
            <div class="form-group">
                <label>Confirmer Mot de passe</label>
                <input type="password" name="password_2" id="pass2" placeholder="password confirmation"
                    class="form-control" required>
                <small id="pass_error"> </small>
            </div>
            <div class="col-sm-12 mt" style="text-align: center;">
                    <button type="submit" id="submit" class="btn btn-success" name="reg_user"
                style="margin-right: 3rem;"> <i class="fa fa-user-plus"></i> Ajouter </button>
                
                    <button class="btn btn-primary" type="reset"><i class="fa fa-ban"></i> Annuler </button>
                
            </div>
            
        </form>
        <div class="row">
            <p class="col-sm-12 text-center" id="error"> </p>
        </div>

    </div>
</div>

<script>
    pass = document.getElementById("pass");
    pass2 = document.getElementById("pass2");
    submit = document.getElementById("submit");
    small = document.getElementById("pass_error");
    error = document.getElementById("error");

    submit.addEventListener("click", function (event) {
        if (pass.value != pass2.value) {
            event.preventDefault();
            small.textContent = "passwords dosen't match";
            error.textContent = "";
        } else {
            small.textContent = "";
        }
    })
</script>
{% endblock %}